@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.main
{
    padding: 1rem;
    width:95vw;
    /* margin-left: 50px; */
}
.header
{
    font-size: 1.4rem;
    text-align: center;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.carousel
{
    padding: 1rem;
    overflow-y:auto ;
    margin-top: 10px;
    display: flex;
    width: 100%;
}
.carousel::-webkit-scrollbar
{
    width: 10px
}
.card_holder
{
    margin-left: 20px;
    
}
.plant_card
{
    margin-right: 10px;
    border: 1px solid rgba(128,128,128,.16);
    padding: 0 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:300px;
    width: 250px;   
}
.plant_image
{
    width: 200px;
}
.title
{
    text-decoration: none;
    color: "#4d4d4d";
    font-size: 15px;
    
}
.title:hover{
color: #ff6b6b;
}
.price
{
   color: #ff6b6b;
   font-size: 1.3rem;
}
.content
{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-around;
    font-family:'Cabin';
}

