.main
{
    max-width: 99vw ;
    margin-bottom: 50px;
    overflow-y:hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif    ;
    background-color: burlywood;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.divison
{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    height: 200px;
    list-style-type:none;
}
.list_item
{
    
    width: 250px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}
.list_item_social
{
    width: 250px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.title
{
   width: 250px;
    margin-top: 30px;
    font-family: 'Pacifico';
    font-size: 2rem;
}