@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.item_list
{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    
}
.item
{
    margin-top: 30px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border:1px solid violet
 
}
.item_section_one
{
    display: flex;
    align-items: center;
    width: 600px;
}

.item_content
{
  
    font-size: 1rem;
    margin-left: 25px;
}
.image
{
    height:120px;
    width: 120px;
}

.item_section_two
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}
.no_cart_items
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}
.cart_total
{
    margin-top: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.grand_total
{
    width: auto;
}
.continue_shopping
{
    color:white;
    background-color:#ff6b6b;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 5px;
}
.check_out
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color:white;
    font-size: 20px;
    background-color:#ff6b6b;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 50px;
}


/* CSS */
.delete_cart_item {
    color:white;
    background-color:#ff6b6b;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 5px;
}
.delete_cart_item:hover , .continue_shopping:hover,.check_out:hover{
    cursor: pointer;
    background-color:#f58f8f;
    transition: 0.3s ;
}