@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.item_list
{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    
}
.item
{
    margin-top: 30px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border:1px solid rgb(187, 190, 228);
    padding: 0.5rem;
 
}
.item_section_one
{
    display: flex;
    align-items: center;
    width: 600px;
}

.item_content
{
  
    font-size: 1rem;
    margin-left: 25px;
}
.image
{
    height:120px;
    width: 120px;
}

.item_section_two
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}

.cart_total
{
    margin-top: 50px;
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.grand_total
{
    width: auto;
}

.check_out
{
    text-decoration: none;
    text-align: center;
    background-color: #1878b9;
    height: auto;
    border: none;
    color: white;
    font-family: "Montserrat";
    font-weight: bold;
    transition: 0.3s;
    padding: 1rem;
}
.no_cart_items
{
    height: 200px;
    width: 400px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Montserrat';
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid rgb(182, 174, 174);

}
.continue_shopping
{
    text-decoration: none;
    text-align: center;
    background-color: #1878b9;
    height: auto;
    border: none;
    color: white;
    font-family: "Montserrat";
    font-weight: bold;
    transition: 0.3s;
    padding: 1rem;
}

/* CSS */
.delete_cart_item {
    background-color: #1878b9;
  height: auto;
  border: none;
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  transition: 0.3s;
  padding: 1rem;
}
.delete_cart_item:hover , .continue_shopping:hover,.check_out:hover{
    cursor: pointer;
    background-color:#3a9bdb;
    transition: 0.3s ;
}