
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.main
{
    display: flex;
    padding: 4rem;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;

}
.logo
{
    font-family: 'Pacifico';
    font-size: 2rem;
    margin-bottom: 10px;
}
/* shipping info */

.shipping_info
{
    width: 500px;
    height: 500px;
    padding: 1rem;
}

.shipping_form
{
    width: 100%;
    font-family: 'Roboto';
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   
.contact_info
{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact_info input{
    width: 100%;
}
.shipping_address
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.state_pincode_city
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.state_pincode_city input,select{
    width: 150px;
    
}
.shipping_form input
{
    padding: 0.8rem;
    margin: 10px;
    outline: none;
    border:1px  solid rgb(181, 190, 181);
    border-radius: 5px;
    transition: 0.3s;
}
.name
{
    display: flex;
    justify-content: space-between;
}
.name input{
    width: 300px;
}

.shipping_form input:focus{
    outline: none;
    border-color:  #1878b9;
    box-shadow: 0 0 0 1px  #1878b9;
}

.footer_buttons
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.place_order
{
    background-color: #1878b9;
    height: 50px;
    width: 150px;
    border:none;
    border-radius: 5px;
    color: white;
    font-family:'Montserrat';
    font-weight: bold;
    transition: 0.3s;
}
.return_to_cart
{
    background-color:#1878b9 ;
    height: 50px;
    width: 150px;
    border:none;
    border-radius: 5px;
    color: white;
    font-family:'Montserrat';
    font-weight: bold;
    transition: 0.3s;
    
}
.return_to_cart:hover , .place_order:hover{
    background-color: #063453;
    cursor: pointer;
}



/* cart */
.cart
{
    width: 500px;
    height: 500px;
    overflow-y: auto;
    /* margin-top: 100px; */
    font-family: 'Roboto';
    font-weight:bold;
    
}
.item
{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image
{
    position: relative;
    border:1px solid rgb(202, 196, 196);
    border-radius: 5px;
}
.image img{
    height: 90px;
    width: 90px;
}
.quantity
{
    position: absolute;
    z-index: 3;
    margin-top: -100px;
    margin-left: 85px;
    background-color: rgb(83, 80, 83);
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.title
{
    margin-left: 10px;
    width: 400px;
}
.price
{
    width: auto;
    
}
.total
{
    margin-top: 10px;
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

/* summary */





/*  */
.hidden{
    visibility: hidden;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}