
.main_container
{
    font-family: 'Oxygen';
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    column-gap: 20px;
    /* padding: 1rem; */
}
.promo_block
{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: relative;
    height: 280px;
    align-items: left;
    margin-top: 50px;
    /* width: 400px; */
    
}
.p{
    font-size: 5rem;
}
.image
{
  
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.inner_block
{

    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}
.title
{
    font-weight: 100;
    font-size: 1.2rem;
    color: black;
}
.price
{
    color: "#082a54";
    font-size: 1.5rem;
}
.shop_button
{
    color: blanchedalmond;
    background-color: #ff6b6b;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    font-size: 1.1rem;
    border:none;
    transition: 0.3s;
}
.shop_button:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fc9999;
    cursor: pointer;
}
/* 
@media screen and (max-width:800px) {

    .main_container{
        max-width: 100%;
    }
    .promo_block{
        width: 300px;
    }
    
}
@media screen and (max-width:730px) {

    .main_container{
        padding: 1rem;
        width: 80%;
    }
    .promo_block{
        width: 100%;
    }
    
} */