@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.main {
    display: flex;
    padding: 4rem;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  
  }
.content
{
    text-align: justify;
    font-family: 'Cabin';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height:auto;
    border:1px solid rgb(117, 114, 114);
    padding: 1rem;
    /* border: 1px solid rgb(197, 192, 192); */
    
}
.info_module
{
    display: flex;
    height: auto;
    width: auto;
    justify-content: space-between;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button {
    margin-left: auto;
    margin-right: auto;
    background-color: #1878b9;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Montserrat";
    font-weight: bold;
    transition: 0.3s;
  }
  .button:hover {
    background-color: #063453;
    cursor: pointer;
  }
/* cart  */
  .cart {
    width: 600px;
    height: 500px;
    font-family: "Roboto";
    font-weight: bold;
    display: flex;
    flex-direction: column;
   
  }
  .item {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item_section
  {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
  }
  .image {
    border: 1px solid rgb(202, 196, 196);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
  
    
  }
  .image img {
    height: 90px;
    width: 90px;
  }
  .quantity {
    /* z-index: 3; */
    margin-top: -100px;
    margin-left: 85px;
    background-color: rgb(83, 80, 83);
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
  }
  .title {
    margin-left: 10px;
    width: 300px;
  }
  .price {
    width: auto;
  }
  .total {
    margin-top: 20px;
    font-family: "Montserrat";
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
  }
  

  /*  */
  @media only screen and (max-width: 500px) {

  
   .main{
     width: 100%;
     padding-left: 1rem;
     padding-right: 1rem;
   }
   .cart{
     width: 100%;
   }
  }