@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.main
{
    height: auto;
    overflow-x: hidden;
}
.heading
{
    margin-top: 10px;
    font-size: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.division
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 1rem;
}
.items
{
    width: 90vw;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
    margin-left: auto;
    margin-right: auto;
    row-gap: 10px;
    column-gap:50px;
    flex-wrap: wrap;
    
}

.filter
{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    color: brown;
    width: 500px;
}


.card
{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 370px;
    width: 250px;
}
.card:hover
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.content
{
    font-weight: bold;
    font-family: 'Poppins';
    padding: 1rem;
    display: flex;
    flex-direction: column;
   
}
.image_div
{
    padding: 1rem;
    object-fit: cover;
    height:250px;
    width: 100%;
}
.image
{
    height: 100%;
    width: 100%    ;
}
.buy_button
{
    height: 30px;
    width: 100px;
    border:none;
    border-radius: 5px;
    background-color: rgb(93, 93, 238);
    color: whitesmoke;
    margin-left: 15px;
}