@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
    height: auto;
    padding: 1rem;
}

.header
{
    width: 100vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Montserrat';
}
.image_div
{
    height: 400px;
    width: 380px;
}
.image
{
    height: 100%;
    width: 100%;
}
.description
{
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

   
}
.title
{
    width:100%;
}
.price
{
    font-size: 1.3rem;
}
.buy_div
{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.add_to_cart
{
    color:white;
    background-color:#ff6b6b;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 5px;
}
.add_to_cart:hover{
    background-color:#f58f8f;
    transition: 0.3s;
}
.feature
{
    font-family:'Montserrat';
    font-size: 0.85rem;
    height: 300px;
    width: 50%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align:justify;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.feature_header
{
    
}
.special_feature
{

}

@media only screen and (max-width: 600px) {
    .header{
        /* padding: 1rem; */
        width: 100%;
    }
    .description
    {
        /* padding: 1rem; */
        width: 100%;
    }
    .feature
    {
        height: 400px;
        width: auto;
    }
}