.items
{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}
.card
{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
}
.content
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.image_div
{
    padding: 1rem;
    object-fit: cover;
    height:200px;
    width: 180px;
}
.image
{
    height: 100%;
    width: 100%    ;
}