@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Quicksand:wght@300&display=swap");

.main {
  height: 70px;
  padding: 0 1rem;
  align-items: center;
  display: flex;
  color: rgb(30, 62, 168);
}
.logo_div {
  padding: 0px 50px;
}
.logo {
  font-family: "Arial";
  font-size: 2.2rem;
  color: rgb(7, 7, 7);
  font-family: "Pacifico";
  transition: 0.3s;
  border-radius: 20px;
}
.logo:hover{
  cursor: pointer;
  color: rgb(88, 43, 43);
  background: rgb(247, 244, 240);
}

.actions {
  color: black;
  display: flex;
  width: auto;
  font-family: 'Oxygen';
  justify-content: space-between;
  margin-right: 20px;
  align-items: center;
  margin-left: auto;
}
.cart {
  padding: 5px;
  width: 50px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.count_cart
{
  background-color: grey;
  margin-bottom: 15px;
  color: rgb(248, 244, 236);
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
  width: 18px;
  height: 18px;
  font-size: 13px;
}

/*  */
.cart:hover{
  cursor: pointer;
}

.login_button {
  padding:10px 8px;
  background-color:#3d69e1 ;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: auto;
}
.login_button:hover {
  color: white;
  cursor: pointer;
  background-color: #0d2463;
  transition:  0.3s ;
}

/* sidemenu */

.side_menu_main
{
  height: 100vh;
  align-items: center;
  background-color: rgb(29, 46, 100);
  width: 50vw;
  position: fixed;
  top: 0;
  z-index: 100;
  right: 0;
  transition: 850ms;
}
.side_menu_items
{
  color: white;
  font-family: 'Cabin';
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
.ham_icon
{
  display: none;
  margin-left: auto;
  right: 10px;
}
.side_menu_items a{
  padding:0.8rem;
  text-decoration: none;
  color: rgb(253, 253, 253);
  transition: 0.5s;
}
.side_menu_items a:hover{
  background-color: rgb(76, 92, 117);
}
.close
{
  font-family: 'Cabin';
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  color: whitesmoke;
  border-radius: 50px;
  transition: 0.8;
}
.close:hover
{
  cursor: pointer;
}
.hide
{
  display: none;
  right: -100%;
}

@media screen and (max-width:500px) {

  .main{
    width: 99%;
  }
  .actions
  {
    visibility: hidden;
  }
  .ham_icon
  {
    display: block;
  }
  
} 

@media screen and (max-width:800px) {

  /* .main{
    width: 99%;
  }
  .login_button{
    width: 100px;
    font-size: 9px;
  }
  .actions
  {
    width: 2vw;
    font-size: 10px;
  } */
  
} 